<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <script src="/js/app.js"></script>
    <h1>{{judul}}</h1>
    <img src="/img/rka.png">
    <p>Dikembangkan oleh {{nama}}</p>
</body>
</html>
